<div style="display: flex; justify-content: space-between; align-items: center;">
  <div>
    <h1>Добро пожаловать в Систему!</h1>
  </div>
  <div class="col-xs-1">
    <%= link_to '<button type="button" class="btn btn-primary btn-block btn-flat">Выйти</button>'.html_safe, destroy_user_session_path, method: :delete%>
  </div>
</div>
